/* Styling index.html */
/* Arranged in order of appearance */
body, html {
  background-color: #F0F4FF;
  display: flex;
  font-family: 'Dosis', sans-serif;
  justify-content: center;
}

.aside {
  align-items: right;
  display: flex;
  flex-direction: column;
  height: 750px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
}

.display-box {
  background-color: #FFFFFF;
  border: 2px solid #8892B3;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #8892B3;
  height: 400px;
  margin: 0px 0px 10px 0px;
  width: 200px;
}

.navigation-bar {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon { 
  cursor: pointer;
  fill: none;
  height: 85px;
}

.my-friend-box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: scroll;
}

.main-display {
  height: 750px;
  width: 950px;
  margin: 10px 20px;
}

.logo-container {
  height: 100px;
  width: 950px;
}

.logo-icon {
  height: 100px;
}

.title {  
  font-size: 40px;
  text-align: right;
}

.welcome-message {
  font-size: 30px;
  text-align: center;
  margin-top: 120px;
}

.user-data-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 605px;
  margin-top: 25px;
  width: 950px;
}

.my-day-info-container {
  height: 200px;
  margin-top: 75px;
  width: 200px;
}

.my-average-info-container {
  height: 200px;
  margin-top: 75px;
  width: 200px;
}

.my-week-info-container {
  height: 250px;
  width: 750px;
}

.my-info-header {
  text-align: center;
}

.user-avatar { /* line 44 */
  height: 130px;
  margin: 5px 0px 10px 50px;
}

.my-user-info {
  margin-left: 10px;
}

.steps-box-container {
  text-align: center;
  height: 150px;
}

/* Additional Styling Properties */
.hide {
  display: none;
}

.text {
  color: #464F6D;
}

.background-image {
  position: relative;
  height: 200px;
  width: 200px;
  opacity: 0.4;
  position: fixed;
  z-index: 0;
}