/* Styling index.html */
/* Arranged in order of appearance */
body, html {
  background-color: #F0F4FF;
  display: flex;
  font-family: 'Dosis', sans-serif;
  justify-content: center;
}

.aside {
  border: 2px solid orange;
  align-items: right;
  display: flex;
  flex-direction: column;
  height: 750px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
}

.display-box {
  background-color: #FFFFFF;
  border: 2px solid #8892B3;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #8892B3;
  height: 400px;
  margin: 0px 0px 10px 0px;
  width: 200px;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon {
  background: transparent;
  cursor: pointer;
  fill: none;
  height: 85px;
}

.my-friend-box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.my-friends-header {

}

.main-display {
  border: 2px solid red;
  height: 750px;
  width: 1000px;
  margin: 10px 20px;
}

.logo-container {
 height: 100px;
 width: 1000px
}

.welcome-message {
  margin: 200px 50px;
  font-size: 30px;
}

.my-day-info-container {
  border: 2px solid red;
}

.my-average-info-container {
  border: 2px solid orange;
}

.user-data-container {
  border: 2px solid #8892B3;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #8892B3;
  height: 605px;
  margin-top: 25px;
}

.user-avatar {
  align-items: center;
  border: 2px solid red;
  height: 130px;
  margin: 5px 0px 10px 50px;
  position: center;
}

.my-user-info-container {
  display: grid
}

.my-week-info-container {
  border: 2px solid green;
}

/* Additional Styling Properties */

.hide {
  display: none;
}

.text {
  color: #464F6D;
}
