/* Styling index.html */
/* General styling classes */
.aside {
  align-items: right;
  display: flex;
  flex-direction: column;
  height: 750px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
}

.icon {
  cursor: pointer;
  fill: none;
  height: 85px;
}

.display-box {
  background-color: #FFFFFF;
  border: 2px solid #8892B3;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #8892B3;
  height: 400px;
  margin: 0px 0px 10px 0px;
  width: 200px;
}

.text {
  color: #464F6D;
}

/* Specific styling classes */
/* Arranged according to order of elements */
body, html { /* line 10 */
  background-color: #F0F4FF;
  display: flex;
  font-family: 'Dosis', sans-serif;
  justify-content: center;
}

.navigation-bar { /* line 12 */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.my-friend-box-container { /* line 17 */
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  text-align: center;
}

.main-display { /* line 21 */
  height: 750px;
  margin: 10px 20px;
  width: 950px;
}

.logo-container { /* line 22 */
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  width: 950px;
}

.logo-icon { /* line 23 */
  height: 100px;
}

.welcome-header {
  padding-right: 25px;
}

.welcome-message { /* line 26 */
  font-size: 30px;
  margin-top: 120px;
  text-align: center;
}

.user-data-container { /* line 27 */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 605px;
  margin-top: 25px;
  width: 950px;
}

.data-display { /* line 28 & 32 */
  background-image: url('../images/sleep-background.svg');
  background-size: cover;
  background-position: center;
  height: 200px;
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
  width: 200px;
}

.header { /* line 29 & 33 */
  padding: 18px;
}

.my-week-info-container { /* line 36 */
  height: 300px;
  padding-bottom: 100px;
  width: 750px;
}

.my-user-info-text-container {
  overflow-x: scroll;
}

.my-info-header { /* line 44 */
  text-align: center;
}

.user-avatar { /* line 45 */
  height: 130px;
  margin: 5px 0px 10px 50px;
}

.my-user-info { /* line 46 */
  margin-left: 10px;
}

.steps-box-container { /* line 48 */
  height: 150px;
  text-align: center;
}

/* Additional Styling Properties */
.hide {
  display: none;
}

.large{
  height: 600px;
  width: 600px;
}

.medium{
  height: 300px;
  width: 300px;
}

.small{
  height: 85px;
  width: 85px;
}

.sleep-background {
  background-image: url('../images/sleep-background.svg');
}

.hydration-background {
  background-image: url('../images/hydration-background.svg');
}

.step-background {
  background-image: url('../images/step-background.svg');
}
